.logo > img {
  width: 50px;
  height: 50px;
}

body {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 60px auto auto auto 60px;
  grid-template-areas:
    "navigation navigation"
    "heroImage heroBio"
    "skillsSection skillsSection"
    "caseStudySection caseStudySection"
    "footer footer";
  padding: 10px;
}

.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
}

.navigation {
  height: 59px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  grid-area: navigation;
}

.heroBio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-area: heroBio;
  background-color: black;
  color: white;
}

.heroImage {
  grid-area: heroImage;
  background-color: black;
}

.footer {
  height: 59px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  grid-area: footer;
  border-top: 1px solid white;
}

.navigationLeft {
  display: flex;
  justify-content: flex-start;
}

.navigationRight {
  display: flex;
  justify-content: flex-end;
}

nav {
  float: right;
  margin-right: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social {
  float: right;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social img {
  padding: 10px;
  transition: all;
}

.social img:hover {
  transform: translate(0px, -1.2px);
}

h1 {
  font-size: 36px;
  font-family: Interstate;
  font-weight: bold;
  font-variant: small-caps;
  color: white;
}

nav a {
  padding: 36px;
  font-size: 24px;
  font-family: Interstate;
  transition: color ease;
}

a:hover {
  color: #f9a756;
  font-weight: 500;
}

.websiteName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage img {
  max-width: 100%;
  min-height: 100%;
}

.heroBio p {
  font-size: 24px;
  font-family: Interstate;
  font-weight: 300;
  font-style: normal;
  line-height: 28.8px;
  padding-left: 20px;
  padding-right: 20px;
  width: 85%;
  max-width: 85%;
}

button {
  height: 60px;
  min-height: 60px;
  width: 200px;
  background-color: #f9a756;
  border-radius: 10px;
  font-size: 24px;
  font-family: Interstate;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 37px;
  transition: background-color 0.5s ease;
  border: 0;
}

button:hover {
  background-color: #f88410;
  font-weight: 800;
}

.footerLeft {
  height: 59px;
  display: flex;
  justify-content: flex-start;
}

.footerRight {
  height: 59px;
  display: flex;
  justify-content: flex-end;
}

h2 {
  font-size: 24px;
  font-family: Interstate;
  font-weight: bold;
  font-variant: small-caps;
}

#skillsComponents {
  display: flex;
  height: 585px;
  justify-content: space-evenly;
  padding: 0px 15px;
  align-items: center;
  background-color: black;
}

#skillsSection {
  display: flex;
  height: 585px;
  border-color: red;
  border-style: dashed;
  grid-area: skillsSection;
  justify-content: space-evenly;
  padding: 0px 15px;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

#caseStudySection {
  grid-area: caseStudySection;
  border-color: blue;
  border-style: dashed;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.skillsComponent {
  width: 433px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("../images/skillsBackground.png");
  background-repeat: no-repeat;
  box-shadow: 4px 4px 16px rgba(249, 167, 86, 0.56);
  margin: 20px;
}

.skillsComponent img {
  position: relative;
  top: 20px;
}

.skillsComponent p {
  padding: 0px 33px;
  font-size: 24px;
  font-family: Interstate;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 20px;
  position: relative;
  bottom: 20px;
}

.skillsComponent h1 {
  position: relative;
  top: 10px;
}

.caseStudy {
  display: flex;
}

#caseStudyImage1 > img {
  width: 624px;
  height: 544px;
}

#caseStudyImage2 > img {
  width: 651px;
  height: 469px;
}

.caseStudyOverview {
  width: 639px;
  height: 544px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("../images/caseStudyBackground.png");
  background-repeat: no-repeat;
  box-shadow: 4px 4px 16px rgba(249, 167, 86, 0.56);
  margin: 20px;
}
