.logo > img {
  width: 50px;
  height: 50px;
}

body {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 60px auto auto auto 60px;
  grid-template-areas:
    "navigation navigation"
    "heroSection heroSection"
    "skillsSection skillsSection"
    "caseStudySection caseStudySection"
    "footer footer";
  padding: 10px;
  background-color: black;
}

.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
  margin-left: 12px;
}

.heroSection {
  grid-area: heroSection;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigationLeft {
  display: flex;
  justify-content: flex-start;
}

.navigation {
  height: 59px;
  display: flex;
  justify-content: space-between;
  color: white;
  grid-area: navigation;
}

.heroBio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-image: url("../images/heroBioBackground.png");
  background-repeat: no-repeat;
  height: 587px;
  width: 660px;
  box-shadow: 4px 4px 16px rgba(249, 167, 86, 0.56);
  border-radius: 5px;
}

.heroBio > button {
  margin-bottom: 40px;
}

.footer {
  height: 59px;
  display: flex;
  justify-content: space-between;
  color: white;
  grid-area: footer;
}

.navigationRight {
  display: flex;
  justify-content: flex-end;
}

nav {
  float: right;
  margin-right: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social {
  float: right;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 30px;
}

.social img {
  padding: 10px;
  transition: all;
}

.social img:hover {
  transform: translate(0px, -1.2px);
}

h1 {
  font-size: 36px;
  font-family: Interstate;
  font-weight: bold;
  font-variant: small-caps;
  color: white;
}

nav a {
  padding: 36px;
  font-size: 24px;
  font-family: Interstate;
  transition: color ease;
}

a:hover {
  color: #f9a756;
  font-weight: 500;
}

.websiteName {
  display: flex;
  align-items: center;
}

.heroBio p {
  font-size: 24px;
  font-family: Interstate;
  font-weight: 300;
  font-style: normal;
  line-height: 28.8px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  height: 60px;
  min-height: 60px;
  width: 200px;
  background-color: #f9a756;
  border-radius: 10px;
  font-size: 24px;
  font-family: Interstate;
  font-weight: 700;
  margin-top: 10px;
  transition: background-color 0.5s ease;
  border: 0;
}

button:hover {
  background-color: #f88410;
  font-weight: 800;
}

.footerLeft {
  height: 59px;
  display: flex;
  justify-content: flex-start;
}

.footerRight {
  height: 59px;
  display: flex;
  justify-content: flex-end;
}

h2 {
  font-size: 24px;
  font-family: Interstate;
  font-weight: bold;
  font-variant: small-caps;
}

#skillsComponents {
  display: flex;
  justify-content: center;
  padding: 0px 15px;
  align-items: center;
  background-color: black;
}

#skillsSection {
  display: flex;
  grid-area: skillsSection;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.skillsComponent {
  width: 433px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("../images/skillsBackground.png");
  background-repeat: no-repeat;
  box-shadow: 4px 4px 16px rgba(249, 167, 86, 0.56);
  margin: 20px;
}

#caseStudySection {
  grid-area: caseStudySection;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.skillsComponent img {
  position: relative;
  top: 20px;
}

.skillsComponent p {
  padding: 0px 33px;
  font-size: 24px;
  font-family: Interstate;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 20px;
  position: relative;
  bottom: 20px;
}

.skillsComponent h1 {
  position: relative;
  top: 10px;
}

.caseStudy {
  display: flex;
  width: 1290px;
  padding-bottom: 50px;
  box-shadow: 4px 4px 16px rgba(249, 167, 86, 0.56);
  background-repeat: no-repeat;
}

#caseStudy1 {
  background-image: url("../images/caseStudyOneBackground.png");
}

#caseStudy2 {
  margin: 50px 0px;
  background-image: url("../images/caseStudyTwoBackground.png");
}

#caseStudyImage1 {
  position: relative;
  top: 30;
  left: 30;
}

#caseStudyImage1 > img {
  width: 510px;
  height: 475px;
  position: relative;
}

#caseStudyImage2 {
  position: relative;
  top: 30;
}

#caseStudyImage2Desktop > img {
  width: 651px;
  height: 469px;
}

#caseStudyImage2Mobile > img {
  width: 600px;
  height: 440px;
}

#caseStudyImage2Mobile {
  display: none;
}

caseStudyOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#caseStudyOverview1 {
  text-align: left;
  margin: 0px 110px;
}

#caseStudyOverview2 {
  text-align: right;
  margin: 0px 49px;
}

p {
  font-size: 24px;
  font-family: Interstate;
  font-weight: 300;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto auto 100px;
    grid-template-areas:
      "navigation"
      "heroSection"
      "skillsSection"
      "caseStudySection"
      "footer";
  }

  nav {
    display: none;
  }

  .heroSection {
    flex-direction: column;
  }

  #skillsSection {
    grid-area: skillsSection;
    align-items: center;
    background-color: black;
    flex-direction: column;
  }

  #skillsComponents {
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
  }

  .skillsComponent {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }

  .heroBio {
    margin: 10px 10px;
    width: auto;
  }

  .heroImage {
    margin: 10px 10px;
  }

  .caseStudy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  #caseStudyOverview1 {
    align-items: center;
    text-align: center;
  }

  #caseStudyOverview2 {
    align-items: center;
    text-align: center;
  }

  #caseStudyImage2Desktop {
    display: none;
  }
  #caseStudyImage2Mobile {
    display: flex;
  }
}
